<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{name}}'s First Angular Project
  </h1>
  <img width="300" alt="Magolor Fanart" src="https://i.pinimg.com/originals/28/8d/df/288ddf6d957cbc22065f271eaec2402b.jpg">
</div>
<p>The rectangle has a length of {{rectangle.length}} cm, a width of {{rectangle.width}} cm,
  and an area of {{rectangle.area()}} cm^2.</p>
<h3>Things to look foward to this weekend: </h3>
<ul>
  <li>
    <h4>{{itemList[0]}}</h4>
  </li>
  <li>
    <h4>{{itemList[1]}}</h4>
  </li>
  <li>
    <h4>{{itemList[2]}}</h4>
  </li>
  <li>
    <h4>{{itemList[3]}}</h4>
  </li>
</ul>

